---
layout: default
---
<!-- {% include hero.html %} -->

<section class="l-section clearfix" id="fullpage">
 <section class="m-hero  section">
  </section>

  <div class="l-wrapper section">
    <h1>NAVIENT</h1>
    <h1>+</h1>
    <h1>Deloitte Digital</h1>
    <p class="main-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum nulla eget euismod pellentesque. Maecenas nisl erat, facilisis quis augue id, viverra fermentum nisl. Integer lacinia condimentum justo ut varius. Mauris vel leo suscipit, accumsan nunc vehicula, scelerisque tortor. Cras dui neque, elementum non metus at, varius feugiat magna. Ut vestibulum, elit non blandit mattis, dolor velit venenatis odio, vitae lobortis tellus dolor vel erat. Mauris nec ultricies orci. Sed placerat nunc et ligula congue, consectetur molestie nisl placerat. Sed vitae tellus sit amet sem commodo hendrerit quis eget sapien. Sed congue gravida mattis. Curabitur ut eleifend neque, quis lobortis orci. Duis ac pulvinar justo. Donec vitae ex in magna dapibus feugiat sit amet et quam.</p>
    <p class="main-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum nulla eget euismod pellentesque. Maecenas nisl erat, facilisis quis augue id, viverra fermentum nisl. Integer lacinia condimentum justo ut varius. Mauris vel leo suscipit, accumsan nunc vehicula, scelerisque tortor. Cras dui neque, elementum non metus at, varius feugiat magna. Ut vestibulum, elit non blandit mattis, dolor velit venenatis odio, vitae lobortis tellus dolor vel erat. Mauris nec ultricies orci. Sed placerat nunc et ligula congue, consectetur molestie nisl placerat. Sed vitae tellus sit amet sem commodo hendrerit quis eget sapien. Sed congue gravida mattis. Curabitur ut eleifend neque, quis lobortis orci. Duis ac pulvinar justo. Donec vitae ex in magna dapibus feugiat sit amet et quam.</p>

    <h3>Explore what we're working on...</h3>
    <div class="clearfix" style="margin: 3em 0;">
      <div class="left col-6" style="height: 200px; background-color: #9A9B9D; border-right: solid 10px #fff;"></div>
      <div class="left col-6" style="height: 200px; background-color: #9A9B9D; "></div>
    </div>
  </div>


  <div class="l-wrapper section">
    <h1><span>Empowering Borrowers to Succeed</span></h1>
    <p class="main-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum nulla eget euismod pellentesque. Maecenas nisl erat, facilisis quis augue id, viverra fermentum nisl. Integer lacinia condimentum justo ut varius. Mauris vel leo suscipit, accumsan nunc vehicula, scelerisque tortor. Cras dui neque, elementum non metus at, varius feugiat magna. Ut vestibulum, elit non blandit mattis, dolor velit venenatis odio, vitae lobortis tellus dolor vel erat. Mauris nec ultricies orci. Sed placerat nunc et ligula congue, consectetur molestie nisl placerat. Sed vitae tellus sit amet sem commodo hendrerit quis eget sapien. Sed congue gravida mattis. Curabitur ut eleifend neque, quis lobortis orci. Duis ac pulvinar justo. Donec vitae ex in magna dapibus feugiat sit amet et quam.</p>
  </div>

  

  <div class="l-wrapper section">
    <div class="l-wrapper clearfix">
    
    <div class="right col-6"><img src="assets/phones.png" style="margin-top:3em;"></div>
    <div class="left col-6">
      <h1><span ">Empowering Borrowers to Succeed</span></h1>
      <p class="main-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam interdum nulla eget euismod pellentesque. Maecenas nisl erat, facilisis quis augue id, viverra fermentum nisl. Integer lacinia condimentum justo ut varius. Mauris vel leo suscipit, accumsan nunc vehicula, scelerisque tortor. Cras dui neque, elementum non metus at, varius feugiat magna. Ut vestibulum, elit non blandit mattis, dolor velit venenatis odio, vitae lobortis tellus dolor vel erat. Mauris nec ultricies orci. Sed placerat nunc et ligula congue, consectetur molestie nisl placerat. Sed vitae tellus sit amet sem commodo hendrerit quis eget sapien. Sed congue gravida mattis. Curabitur ut eleifend neque, quis lobortis orci. Duis ac pulvinar justo. Donec vitae ex in magna dapibus feugiat sit amet et quam.</p>
      <p><a href="#">Watch the Video</a></p>
    </div>
    
  </div>
    <!-- {% include members.html %} -->
  </div>
</section>
