<footer class="m-footer">
  <div class="l-wrapper social">
    <ul>
      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="">Cookie Policy</a></li>
      <li><a href="">Privacy</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Copyright</a></li>
      <li class="last"><a href="">Careers</a></li>
    </ul>
  </div>

  <div class="rights">
    <p>Navient Innovations 2016 | All Rights Researved.</p>
  </div>
</footer>