<header class="m-header">
  <div class="l-wrapper-large">
    <a href="{{ "index.html" | prepend: site.baseurl }}" class="m-header__logo">
      
      <div class="logo"><span class="bold">Navient</span> labs</div>
    </a>
    <ul class="m-header__links">
      <li><a href="{{ "events.html" | prepend: site.baseurl }}">What We're Working On</a></li>
      <li><a href="{{ "involve.html" | prepend: site.baseurl }}">Why We're Doing It</a></li>
      <li><a href="{{ "members.html" | prepend: site.baseurl }}">Who We Are</a></li>
      <li><a href="{{ "contact.html" | prepend: site.baseurl }}">Give Us A Shout!</a></li>
    </ul>
  </div>
</header>